.app-container {
  display: flex;
  justify-content: center;
}
.content {
  width: 100%;
}
.sidebar-height {
  height: 950px;
  min-height: 400px;
  position: sticky;
  top: 0;
  z-index: 999;
}
.post-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 20px;
}
/* .card-min-size {
  min-width: ;
} */
.spaceBetween {
  margin-left: 5px;
}
.reaction {
  margin-top: 1rem;
}
.form-area {
  width: 50%;
  margin-top: 50px;
  margin-left: 25%;
}

.emptytext {
  margin: 20% 40%;
}

.static-position {
  position: fixed;
}
.stickypos {
  position: sticky;
  top: 0;
  z-index: 999;
}
